/*Bootstrap Overide*/
.btn-gray, .btn-grey {
color: #FFF;
background-color: #6D6D6D;
border-color: #464646;
}


/****/
/* Calendar */
/****/
#calendar{ display: none;}
  .calendar-toggle:hover, ::before{ cursor: pointer;}
section.mounth {
  overflow: hidden;
  display: block;
  float: left;
  width: 100%; height: auto;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  border-radius: 5px;
}
  #calendar header {
    position: relative;
    display: block;
    height: 80px;
   /* background: #7a9900;*/
     background: #e9eaf0;

    
    
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
  }
  #calendar  header h3 {
       font: 100 48px/45px 'psl_displayregular';
      margin-left: 30px;
      margin-top: 0;;
      line-height: 80px; 
     /* color:#FFF;*/
    }
 #calendar   header nav {
      overflow: hidden;
      position: absolute;
      display: block;
      right: 30px; top: 30px;
    }
  #calendar    header nav span {
        display: block;
        float: left;
        width: 11px; height: 20px;
        margin-left: 30px;
        cursor: pointer;
        background: url('../img/sprite.png') no-repeat;
      }
      
   #calendar   header nav span {
text-decoration: none;
transition: all .25s ease-in-out;
}
      #calendar  header nav span:first-of-type {
          background-position: -77px -4px;
        }
       #calendar   header nav span:first-of-type:hover {
            background-position: -106px -4px;
          }
      #calendar  header nav span:last-of-type {
          background-position: -90px -4px;
        }
       #calendar   header nav span:last-of-type:hover {
            background-position: -119px -4px;
          }

#calendar article {padding: 6px 0 25px 25px}
#calendar  article b,
#calendar  article .dates > span {
    display: block;
    float: left;
    width: 13.1%; height: 45px;
    margin: 4px;
    text-align: center;
  }
 #calendar article b {
    font: 200 32px/45px 'psl_displayregular';
    color: #666666;
  }
 #calendar article .dates > span {
    font: 300 24px/45px 'psl_displayregular';
    color: #4c5373;
    box-shadow: inset 0 0 1px 1px #d9dce5;
    border-radius: 2px;
    cursor: pointer;
  }
 #calendar article .dates > span.disable {
    color: #b6bacc;
    box-shadow: inset 0 0 1px 1px #f3f4f7;
  }
   #calendar article .dates > span:not(.disable):hover {
      background: #cdd0dd;
      box-shadow:
        inset 0 0 1px 1px #d9dce5,
        0 1px 3px -1px #cdd0dd;
    }
  #calendar  article .dates > span:not(.disable):active {
      background: #b9becf;
      box-shadow:
        inset 0 1px 2px rgba(0,0,0,.18),
        0 0 0 #cdd0dd;
    }
  #calendar  article .dates > span.active,
   #calendar article .dates > span.active:hover,
   #calendar article .dates > span.active:active {
      color: #fff;
      box-shadow:
        inset 0 0 1px 1px #ff8263,
        0 1px 3px -1px #ff8263;
      background: #ff8263;
    }
 #calendar article div {
    display: block;
    
    clear: both;
  }
  
 #calendar .popover{max-width: 400px;}  
 #calendar .popover-content table td{padding:5px}
  
  
/****/
/* PReload*/
/****/  
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #9bcc35;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #9bcc35, 0 0 5px #9bcc35;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #9bcc35;
  border-left-color: #9bcc35;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}



/*Panel*/
.panel-style{
border: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
padding: 10px;
width: 320px;
margin-bottom: 0;
color: #333333;
font-style: normal;
overflow: hidden;
-webkit-transition-property: border,padding-top,padding-bottom,height,margin-bottom;
-moz-transition-property: border,padding-top,padding-bottom,height,margin-bottom;
-o-transition-property: border,padding-top,padding-bottom,height,margin-bottom;
-ms-transition-property: border,padding-top,padding-bottom,height,margin-bottom;
transition-property: border,padding-top,padding-bottom,height,margin-bottom;
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-transition-duration: 0.5s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
-ms-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}


button3D {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button3d:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}



.bs-example {
position: relative;
padding: 0px 15px 15px;
margin: 0 -15px 15px;
border-color: #e5e5e5 #eee #eee;
border-style: solid;
border-width: 1px 0;
-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.bs-example {
margin-right: 0;
margin-left: 0;
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0 0;
-webkit-box-shadow: none;
box-shadow: none;
}


.highlight {
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.bs-example+.highlight {
margin: -15px -15px 15px;
border-width: 0 0 1px;
border-radius: 0;
}



@media (min-width: 768px){
.bs-example+.highlight {
margin-top: -16px;
margin-right: 0;
margin-left: 0;
border-width: 1px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

}
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
    background: #FFF;
  width: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
padding-right:90px;
}

.timeline > li.timeline-inverted {
padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 10;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  /*color: inherit; */
  color:#2e6da4;
}

.timeline-inverted .timeline-title{ color:#d9534f;}



.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}




.WhiteRounded {
background-color: #ffffff;
border: medium none;
display: inline-block !important;
float: none !important;
font-size: 14px;
font-weight: normal;
height: 40px;
line-height: 40px;
margin: 0 2px;
text-align: center;
width: 40px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
-ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
-o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
}
.WhiteRounded:hover{ cursor: pointer;}

.ImageWrapper .StyleHe {margin: 0;opacity: 0;position: absolute; z-index: 9; text-align: center;top: 0;visibility: hidden;width: 100%;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
.ImageWrapper:hover .StyleHe {margin-top: -20px;opacity: 1;top: 50%;visibility: visible;}


.row.animated .ImageWrapper, .row.animated  .ImageWrapper:hover .StyleHe{display: none;}










 .labeled-chart-container {
padding-right: 150px;
min-height: 180px;
position: relative;
margin-top: 20px;
}


.doughnut-legend {
  list-style: none;
  position: absolute;
  right: 8px;
  top: 0;
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}




.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.65;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}


.ui-group-buttons .btn{ width:80px; overflow-x: hidden;}


.hero-widget { text-align: center; padding-top: 10px; padding-bottom: 10px; }
.hero-widget .icon { display: block; font-size: 48px; line-height: 48px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 32px; font-size: 32px; line-height: 32px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }
 figcaption.ratings
{
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }





/* Share*/

.share {
    display: inline-block;
    margin-right: 5px;
}

.share_size_large {
    width: 60px;
}

.share__count {
    background-color: #fff;
    border: solid 1px #a5b1bd;
    border-radius: 3px;
    /* add in vendor rules */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    /* add in vendor rules */
    color: #424a4d;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 4px 10px;
    position: relative;
    text-align: center;
}

.share_size_large > .share__count {
    display: block;
    float: none;
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 12px;
    padding: 10px 0;
}

.share__count:before, .share__count:after {
  content: '';
  display: block;
    height: 0;
    top: 50%;
  position: absolute;
    right: -14px;
  width: 0;
    margin-top: -6px;
}

.share_size_large > .share__count:before, .share_size_large > .share__count:after {
  content: '';
  display: block;
    height: 0;
    left: 50%;
  position: absolute;
    top: auto;
  width: 0;
}

.share__count:before {
    border: solid 7px transparent;
    border-color: transparent transparent transparent #a5b1bd;
}
        
.share_size_large > .share__count:before {
  border-color: #a5b1bd transparent transparent transparent;
    bottom: -14px;
  margin-left: -7px;
}

.share__count:after {
    border: solid 6px transparent;
    border-color: transparent transparent transparent #fff;
    right: -12px;
    margin-top: -5px;
}

.share_size_large > .share__count:after {
  margin-left: -6px;
  bottom: -12px;
  border-color: #fff transparent transparent transparent;
}

.share__btn {
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    /* add in vendor rules */
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.15);
    /* add in vendor rules */
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.share_size_large > .share__btn {
    padding: 5px 0;
    width: 100%;
}
    
.share_type_twitter > .share__btn {
    background-color: #4099FF;
}

.share_type_facebook > .share__btn {
    background-color: #3B5999;
}
    
.share_type_gplus > .share__btn {
    background-color: #F90101;
}

.share_type_email > .share__btn {
    display: none;
    background-color: #f4f4f4;
    color:#333
}









/* Video*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,  
.video-container object,  
.video-container embed,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* video fixed width wrappers */
.video-wrapper {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}



/*Modal*/
.modal-title{
    font-family: psl_displayregular, Tahoma, sans-serif;
    font-size: 3em;
    line-height:.8em;
}



/*Pie*/
pie {
    width: 1.2em;
    height: 1.2em;
    display: block;
    border-radius: 50%;
    background-color: #428bca;
    border: 2px solid #428bca;
    float: left;
    margin-right: 2px;
}

pie.ten {
    background-image:
        linear-gradient(126deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

pie.twentyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

pie.fifty {
    background-image:
        linear-gradient(90deg, white 50%, transparent 50%);
}

/* Slices greater than 50% require first gradient
   to be transparent -> green */

pie.seventyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, #428bca 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

pie.onehundred {
    background-image: none;
}



pie.small {
    width: 0.6em;
    height:  0.6em;
    display: block;
    border-radius: 50%;
    background-color: #428bca;
    border: 2px solid #428bca;
    float: none;
    display: inline-table;
    margin-right: 2px;
}


/*Handicap*/
.handicap_color,.handicap_color span{ color:#428bca;}


 table tr td:nth-child(2) .handicap_color:before,  table tr td:nth-child(4) .handicap_color:after{ 
color:#428bca;
content:"\f111";
display: inline-block;
font-family: FontAwesome;
font-size: 0.6em;
padding:5px;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased; 

}

.handicap_color span.teamname:before{
    
color:#428bca;
content:"\f111";
font-size: 0.5em;
display: inline-block;
font-family: FontAwesome;
padding:0 5px 0 0;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased; 
    
}

.hilight-color .handicap_color span.teamname{color:#FFF}

.pie{color:#999;}
.pie pie{float:none; display: inline-block;}




  .blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}



.handicap_sign{}



/**/




#gameModal  {}

.modal.style-1 .modal-header{ background: #428bca; color:#FFF}

.modal.style-2 .modal-header{ background: #76AD30; color:#FFF}



 .modal.style-1 .modal-header, .modal.style-2 .modal-header{
 border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
/*
.modal.style-1,.modal.style-2 .close{color:rgba(255,255,255,0.4)}
#gameModal .close:hover,#gameModal  .close:focus{color:#FFF}*/






.share-num{font-size: 24px; line-height: 30px; color: #000; padding: 0 5px; display: inline-block;}
.square-2 {
display: inline-block;
height: 25px;
width: 25px;
line-height: 25px;
text-align: center;
}
.brand-bg a i {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
    color: #fff;
    font-size:14px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}
.brand-bg a i:hover {
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}
.brand-bg a.facebook i {
    background: #3280e7;
}
.brand-bg a.facebook i:hover {
    background: #134fa0;
}
.brand-bg a.twitter i {
    background: #32c8de;
}
.brand-bg a.twitter i:hover {
    background: #188392;
}
.brand-bg a.google-plus i {
    background: #f96f4a;
}
.brand-bg a.google-plus i:hover {
    background: #eb6440;
}
.brand-bg a.linkedin i {
    background: #729fda;
}
.brand-bg a.linkedin i:hover {
    background: #3069b6;
}
.brand-bg a.pinterest i {
    background: #ed5441;
}
.brand-bg a.pinterest i:hover {
    background: #b72411;
}
.brand-bg a.dropbox i {
    background: #32c8de;
}
.brand-bg a.dropbox i:hover {
    background: #188392;
}
.brand-bg a.bitcoin i {
    background: #f8a841;
}
.brand-bg a.bitcoin i:hover {
    background: #cc7607;
}
.brand-bg a.foursquare i {
    background: #22bed4;
}
.brand-bg a.foursquare i:hover {
    background: #146f7c;
}
.brand-bg a.flickr i {
    background: #ff61e7;
}
.brand-bg a.flickr i:hover {
    background: #fa00d4;
}
.brand-bg a.github i {
    background: #666666;
}
.brand-bg a.github i:hover {
    background: #333333;
}
.brand-bg a.instagram i {
    background: #d6917a;
}
.brand-bg a.instagram i:hover {
    background: #b35637;
}
.brand-bg a.skype i {
    background: #32c8de;
}
.brand-bg a.skype i:hover {
    background: #188392;
}
.brand-bg a.tumblr i {
    background: #84a1c8;
}
.brand-bg a.tumblr i:hover {
    background: #476d9f;
}
.brand-bg a.vimeo i {
    background: #32c8de;
}
.brand-bg a.vimeo i:hover {
    background: #188392;
}
.brand-bg a.dribbble i {
    background: #ff2edf;
}
.brand-bg a.dribbble i:hover {
    background: #c700a9;
}
.brand-bg a.youtube i {
    background: #ed5441;
}
.brand-bg a.youtube i:hover {
    background: #b72411;
}
.brand-bg a.email i {
    background: #adadad;
}
.brand-bg a.email i:hover {
    background: #6DB600;
}

/*
.tour-step-background, 
.tour-backdrop {
    position: fixed;
}

.tour-step-background {
    background: #000;
} */


 /*--------------------------DARK--------------------------------*/
/*tabs*/

.darkstrap .nav-tabs { margin-right: 5px; border-bottom: 1px solid #272727;}
.darkstrap .nav-tabs >li{ }
.darkstrap .nav-tabs>li>a{color:#999; font-size: 1.2em;}
.darkstrap .nav-tabs>li>a:hover {border-color: #272727 #272727 #444;  background-color: #272727; border-bottom: none;}
 .darkstrap .tab-content { padding: 10px 0;}
.darkstrap .head{ color:white ; font-size: 18px; color: #CCC;}
.darkstrap .view-mode{ display: inline-block; margin-left: 30px;}
  .darkstrap .match_a{ text-align: center;}
.darkstrap .nav-tabs>li.active>a,.darkstrap .nav-tabs>li.active>a:hover,.darkstrap .nav-tabs>li.active>a:focus {background-color: #202020;border: 1px solid #444; border-bottom: none;}


.darkstrap .dropdown:hover .dropdown-menu{  background-color: #272727;}
.darkstrap .dropdown-menu>li>a{color:#999}
.darkstrap .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{}