/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import  "font-awesone/css/font-awesome.min.css";
@import  "font-awesone/css/font-awesome-animation.css";


html, button, input, select, textarea {
	color: #222;
}
html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	background: #ececec;
}
.wrapper {
	width: 90%;
	margin: 0 5%;
}
/* ===================
    ALL: Orange Theme
   =================== */
   
.kapook-bar {
	background-color: #505051
}
.kapook-bar .containner {
	width: 1000px;
	margin: 0 auto;
}
.header-container {
	/*border-bottom: 20px solid #e44d26;*/
	background: url(../img/head_bg.jpg) repeat-x;
}
.header-container header {
	height: 69px;
	display: block;
}
 .footer-container, {
 border-top: 20px solid #e44d26;
}
 .footer-container, {
 background: #f16529;
}
.title {
	color: white;
}
/* ==============
    MOBILE: Menu
   ============== */
   
.nav-container {
	background: #FFF;
	border-bottom: 1px solid #CCC;
	display: block;
	height: 64px;
	-webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.navbar {
	width: 1000px;
	display: block;
	margin: 0 auto;
}
.navbar .brand {
	font-size: 36.99px;
	color: #797979;
	display: inline-block;
	line-height: 64px;
	padding-left: 20px;
	width: 220px
}
.breadcrumb-a {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	
	border-radius: 4px;
	display: inline-block;
}
.breadcrumb-a>li {
	display: inline-block;
}
.breadcrumb-a>li a {
	color: #3399cc;
	text-decoration: none;
}
.breadcrumb-a>li+li:before {
adding: 0 5px;
	color: #ccc;
	content: " > ";
}


.nav-book {
	padding: 18px 15px;
	margin-bottom: 20px;
	list-style: none;
	border-radius: 4px;
	display: inline-block;
	float:right
}
.nav-book>li {
	display: inline-block;
	padding:0 20px
}
.nav-book>li i {
color:#7f7f7f;
}
.nav-book>li a {
	color: #797979;
	text-decoration: none;
}
.nav-book>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "";
}





nav ul {
	margin: 0;
	padding: 0;
}
nav a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: white;
	background: #e44d26;
}
nav a:hover, nav a:visited {
	color: white;
}
nav a:hover {
	text-decoration: underline;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
	padding: 30px 0;
}
.main article h1 {
	font-size: 2em;
}
.main aside {
	color: #797979;
}
.main aside ul.cat {
	list-style: none;
	padding: 0 0 0 20px
}
.main aside ul.cat li a {
	color: #797979;
	text-decoration: none;
	text-transform: capitalize;
	width:auto;
	display:block;
	 transition:all 0.5s; -webkit-transition: all 0.5s;
}
.main aside ul.cat li:hover a{ color:#000; transition:all 0.2s; -webkit-transition: all 0.2s; padding-left:10px; font-size:1.2em; }


.main aside ul.cat li:hover a:before{
	display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
padding:0 10px 0 0;	
  content: "\f0da";

	}


.footer-container footer {
	color: white;
	padding: 20px 0;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
/* ====================
    INTERMEDIATE: Menu
   ==================== */

nav a {
	float: left;
	width: 27%;
	margin: 0 1.7%;
	padding: 25px 2%;
	margin-bottom: 0;
}
nav li:first-child a {
	margin-left: 0;
}
nav li:last-child a {
	margin-right: 0;
}
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

nav ul li {
	display: inline;
}
.oldie nav a {
	margin: 0 0.7%;
}
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container, {
 -webkit-box-shadow: 0 2px 5px #CCC;
 -moz-box-shadow: 0 2px 5px #CCC;
 box-shadow: 0 2px 5px #CCC;
}
/* ============
    WIDE: Menu
   ============ */

h1.logo {
	float: left;
	/*background-image:url(../img/logo.svg);
		 background-size: cover;*/
	margin: 0;
}
h1.logo a.kapook {
	background-image: url(../img/logo.svg);
	background-size: cover;
	width: 157px;
	height: 51px;
	display: block;
	margin: 10px 0 0 10px;
	float: left
}
h1.logo a.notebook {
	background-image: url(../img/logo_notebook.png);
	background-size: cover;
	width: 404px;
	height: 45px;
	display: block;
	margin: 17px 0 0 10px;
	float: right
}
/*a.kapook img{width:157px; margin-top:15px}*/

nav {
}
/* ============
    WIDE: Main
   ============ */

.main article {
	float: right;
	width: 760px;
}
.main aside {
	float: left;
	width: 240px;
}
}

@media only screen and (min-width: 1140px) {
/* ===============
    Maximal Width
   =============== */

.wrapper {
	width: 1000px; /* 1140px - 10% for margins */
	margin: 0 auto;
}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
 *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
a,  a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
	content: "";
}
pre,  blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr,  img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
@page {
	margin: 0.5cm;
}
p,  h2,  h3 {
	orphans: 3;
	widows: 3;
}
h2,  h3 {
	page-break-after: avoid;
}
}










#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.book {
	position:relative;
	display: inline-block;
	background: #FEFEFE;
	/*border: 2px solid #FAFAFA;*/
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 2px 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.book h2{ font-size:18px; padding:10px 10px  0 10px; margin:0; color:#ff0173; font-weight:normal}

.book img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	-webkit-border-radius: 10px 10px 0 0 ;
	-moz-border-radius:  10px 10px 0 0 ;
	border-radius:  10px 10px 0 0 ;
}

.book p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
	padding:5px 10px;
}


.book .book_footer {
	-webkit-border-radius:  0 0 10px 10px ;
	-moz-border-radius:   0 0 10px 10px ;
	border-radius:   0 0 10px 10px ;
	background:#099;
	display:block;
	height:40px;
	background:#f3f3f3;
	border-top:1px solid #CCC;
	line-height:40px;
	color:#999
	
	}
	
	.book .book_footer ::before:hover,.book .book_footer ::after:hover, .book .book_footer i:hover::before,.book .book_footer i:hover::after{ cursor:pointer;}
	
	
	
	.book .book_footer .owner{padding:0 10px; color:#007298 }
	.book .book_footer .owner a{ color:#007298; text-decoration:none }
	
	.book .book_footer .action{ float:right; }
	
	
	.book .book_footer .action>a{
		margin-top:2px; 
		
		color:#999;
		border-left:1px solid #CCC; 
	
	height:36px;display:block; float:left;
	-webkit-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    -1px 0px 0px 0px rgba(255, 255, 255, 1);
	box-shadow:         -1px 0px 0px 0px rgba(255, 255, 255, 1);}
	
	
	.book .book_footer .action i{  line-height:40px; padding:0 8px;


	
	}


@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}


   

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px tahoma;
  text-align: center;
 /* text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
background: #ff3019; /* Old browsers */
background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

  color: #FFF;

}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:    3px solid #890000  ; 

  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}







