

 /*

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }*/

       #carousel-live .match_a{ } 
       .container, #header, #nav{width:1000px;}
      .post  p img {margin-left: -2em;}
      
                  

@media (min-width: 1000px)  {    
                     .col-md-4.aside{ padding:15px;}  
                    .nav-wrap.affix{background: #6DB600; }
                    .nav-wrap.affix .nav-line {background: none;}
                    .nav-wrap.affix .navbar-default .navbar-brand, .nav-wrap.affix .navbar-default .navbar-nav>li>a{ color:#FFF}
                    
                    
                 .match    .page-header.font-display{padding-right: 200px; line-height: 0.9em;}

  }    
      
@media (min-width: 768px) and (max-width: 999px) {
    
    
    
    
    .container, #header, #nav,  .navbar, #carousel-live .control{width:100%;}  
    
  #carousel-live .match_a{ display: inherit ;} 
   #carousel-live  .match_a{  width: 33.33333333%;float: left; } 
    #carousel-live .match_a .col-md-5{width: 41.66666667%;float: left; }
     #carousel-live .match_a .col-md-2{width: 16.66666667%;float: left; }
     
     
       /* Page MAtch*/
        #carousel-live .col-md-4 {width: 33.33333333%;  float: left; }
          .league #carousel-live .match_a { width:100%; }
       
      
       
  }  
  

  
  @media (max-width: 768px) {
      
      
      .row{margin-left:0; margin-right:0}
      
      #topbar,.top-bar,.footer{display: none;}
      
        .header-container { display: none;}
        
        
        .nav-container{ height: auto;}
        
        
        .navbar-header{background: #6DB600; width: 102%;margin-left: -1%;}
        .navbar-header .navbar-brand{color:#FFF}
        .navbar-toggle{background-color: #ddd;}
        
 
 
  
        /*Title Page H1*/
        .page-header-option{position: inherit;  }  
        
         .page-header-option p {
position: relative;
/* right: 0px; */
top: 10px;  
text-align: center;
}
        
        
        
             
.page-header.font-display {
font-size: 4em;
line-height: 0.9em;
text-align: center;
}  
        
        
      
  #carousel-live .match_a{ display: inherit ;} 
   #carousel-live  .match_a{  width: 100%;float: left; } 
    #carousel-live .match_a .col-md-5{width: 41.66666667%;float: left; }
     #carousel-live .match_a .col-md-2{width: 16.66666667%;float: left; }
     
     
       /* Page MAtch*/
        #carousel-live .col-md-4 {width: 33.33333333%;  float: left; }
          .league #carousel-live .match_a { width:100%; }
     
     
     #carousel-live.swip:hover .carousel-inner{ height: auto;}
     
     #carousel-featured .carousel-caption{ padding:0px 5px 0 10px}
     
     #carousel-featured .carousel-caption h2{ font-size: 2.2em;}
     
      #carousel-featured .carousel-caption p{display: none;}
    
       .container, #header, #nav,  .navbar, #carousel-live .control{width:98%;}
       
       .controls >span:not(#carousel-index){ display: none !important}
                                                                     
       
       
      .news_block  { margin-bottom: 10px; overflow: hidden;}
          .subnews .news_block .media-object,.top10 .media-object {width:200px; margin-right: 10px; float:left}
          
          
          .post  img{width:100% !important; height:auto !important; text-align: center; }
          
          
         .social.pull-right{   display: block;        margin: 10px auto !important;width: 203px;float: none !important; } 
         
         

         
         
          
          
  /*program*/
  /*.program table tr td:nth-child(5), .program table tr th:nth-child(5){ display: none;}  */
  
  
  /*Match*/      
  .match .scoreboard .teamname{font-size: 1.2em;} 
  #carousel-live .match_a .wrapflag .flag {
max-height: 64px;
max-width: 64px;
} 
#carousel-live .match_a .score {font-size: 30px;}      
     
  }  