/* CSS Document */

@import  "font-awesone/css/font-awesome.min.css";
/*@import  "font-awesone/css/font-awesome-animation.css";   */
/*@import  "animate.css"; */
@import  "waves.css"; 
@import  "elements.css";
/*@import  "darkstrap.css";    */


@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

body{  }

/*Reset Bootstrap*/
.container, #header , #nav{
 width:1000px;
 margin: 0 auto;
}
.container {
padding-right: 0px;
padding-left: 0px;
}
/*
.container .article{ width:680px; float:left}
.container .aside{ width:300px; float:right}*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-right: 5px;padding-left: 5px;}
.row {
margin-right: -5px;
margin-left: -5px;
}



h1#logo{  line-height: 0px;display: block;overflow: hidden; top: -6px;position: relative; margin: 0;}

h2.font-display{ font-size: 2.4em; }
h2.font-display i{font-size: 0.6em;}

/*Kapook Header*/
.kapook-bar {
	background-color: #505051
}
.kapook-bar .containner {
	width: 1000px;
	margin: 0 auto;
}
.header-container {
	/*border-bottom: 1px solid #CCC; */
    background: #6DB600;

}
.header-container header {
	height: 105px;
	display: block;
   background: url(../img/ball.png) no-repeat 600px -40px; 
  /* background: url(../img/ball.png) no-repeat 600px -200px;  */
}

/*
.header-container header {
  animation: walk-cycle 1s ;
  -webkit-animation: walk-cycle 1s ;  
  -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in;    
}

@keyframes walk-cycle {  
0% {background-position: 600px -200px; } 
  100% {background-position: 600px -30px; }  
}

@-webkit-keyframes walk-cycle {  
0% {background-position: 600px -200px; } 
  100% {background-position: 600px -30px; }   
}
   */
 












div.logo {
	float: left;
	/*background-image:url(../img/logo.svg);
		 background-size: cover;*/
	margin: 0;
}
div.logo a.kapook {
	background-image: url(../img/logo.svg);
	background-size: cover;
	width: 188px;
	height: 70px;
	display: block;
	margin: 20px 0 0 0px;
	float: left
}
div.logo a.football {
	/*background-image: url(../img/logo_football.png);  */
	background-size: cover;
	width: 232px;
	/*height: 72px;*/
	display: block;
	margin: 34px 0 0 30px;
	float: right;
    text-decoration: none;
    line-height: 24px;
}

div.logo a.football .head{ font-family: psl_displayregular, Tahoma, sans-serif; font-size: 66px; text-decoration: none; color:#FFF; font-weight: bold;  clear: both; display: block; line-height: 34px; letter-spacing: 2px;}
div.logo a.football .des{ font-size: 17px; color:#FFF; opacity:0.6; display: none;}





/*Mega Menus*/
.navbar.main{background:none; border:none; margin-bottom:0}
.navbar.main .navbar-collapse {padding-left:0; }

/*.navbar.main .navbar-collapse ul.navbar-nav>li:first-child>a */

.navbar.main .navbar-nav>li>.dropdown-menu {
    /*margin-top:10px; */
    border-top-left-radius:0px;
    border-top-right-radius:0px;
	padding:10px;
	width:100.2%;
	margin-left:-0.1%;
    z-index: 77;
	margin-top:0px;
    border-top: 1px solid #CCC;
}
.navbar.main .navbar-nav>li>.dropdown-menu h3{ margin: 0 0 20px 20px;border-bottom: 1px solid #eee; font-family: psl_displayregular, Tahoma, sans-serif; font-size: 3em;}



.nav-container {}

.nav-container{height: 100px; display: block;}
 .nav-wrap .nav-line{ border-bottom: 1px solid #EEE;background: #FFF;  transition: all 0.5s ease;}
.nav-wrap.affix{width:100%; z-index: 99; top:0; /*border:1px solid #88C232; */ /*transition: all 0.5s ease; */
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);  




}




 /*
.nav-wrap.affix .navbar.main .nav>li>a {color:#333}
.nav-wrap.affix .navbar.main .nav>li>a:hover,.nav-wrap.affix .navbar.main .nav>li.open>a {color:#333} */ 



.navbar{width:1000px; margin: 0 auto;}

.navbar.main .navbar-nav>li>a {
    /*width:200px;*/
    /*font-weight:bold;*/
	font-family: psl_displayregular, Tahoma, sans-serif;
	font-size:1.8em ;
    
/*padding: 10px 30px;  */
}
.navbar.main .nav>li:nth-child(1)>a>i{font-size: 14px;}
.navbar.main .nav>li>a{padding: 15px 20px; }
.navbar.main .nav>li>a:hover{background: #e7e7e7;}

.navbar.main  .nav>li>a.dropdown-toggle{ padding-right: 40px;}


.navbar-default .navbar-nav>li>a>span{ font-size:14px}

.mega-dropdown {
  position: static !important;
  /*width:100%;*/
}
.mega-dropdown.open>a:before {
    content: "";
    border-bottom: 6px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: 45px;
    left: 50%;
    margin-left: -14px;
    z-index: 100;
}
.mega-dropdown.open>a:after {
    content: "";
    border-bottom: 8px solid #ccc;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 43px;
    left: 50%;
    margin-left: -16px;
    z-index: 88;
}




.mega-dropdown .dropdown-toggle{  }
.mega-dropdown>a>span{position: absolute;top: 20px;right: 20px;}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}



/*
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
*/



.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}




 /** TOP Second Bar  & Breadcumb/   */
 /* Top bar */
.top-bar {
    background: #FAFAFA; 
    color: #999;
    padding: 4px 0px;
    font-size: 13px;
    line-height: 28px;
    border-bottom: 1px solid #f5f5f5;
    margin: 0;
}

.affix .top-bar {   }



.top-bar .breadcrumb{
    
    padding: 0; 
margin-bottom: 0;
list-style: none;
 background: none; 
 border-radius: 0px; 
 margin-left: 20px;
    
}


.top-bar .breadcrumb>li{ white-space: nowrap;}

.top-bar a {
    color: #999;
}
@media (max-width: 767px) {
    .top-bar .tb-contact {
        display: none;
    }
}
.top-bar .tb-search {
    position: relative;
}
.top-bar .tb-search .b-dropdown-block {
    padding: 7px;
    border: 1px solid #ddd;
    width: 250px;
    position: absolute;
    background: #ffffff;
    top: 30px;
    left: 0px;
    border-radius: 2px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    display: none;
    z-index: 10000;
}
.top-bar .tb-social {
    margin-right: 10px;
}
.top-bar .tb-social i {
    font-size: 13px;
    margin: 0px;
    margin-right: 2px;
}
.top-bar .page-statistics {
    position: relative;
    margin-left: 15px;
    white-space: nowrap;
}
.top-bar .page-statistics i {
    font-size: 14px;
}
.top-bar .page-statistics .b-dropdown-block {
    width: 250px;
    background: #ffffff;
    right: 0px;
    border: 1px solid #e2e2e2;
    position: absolute;
    margin-top: 5px;
    z-index: 10000;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: none;
}
.top-bar .page-statistics .b-dropdown-block h4 {
    font-size: 13px;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 0px;
    border-bottom: 1px dashed #eee;
}
.top-bar .page-statistics .b-dropdown-block ul li {
    padding: 10px 0px;
    border-bottom: 1px dashed #eee;
}
.top-bar .page-statistics .cart-img {
    width: 40px;
    float: left;
}
.top-bar .page-statistics .cart-title {
    position: relative;
    margin-left: 50px;
}
.top-bar .page-statistics .cart-title h5 {
    font-size: 13px;
    line-height: 23px;
    font-weight:400;
}
.top-bar .page-statistics .cart-title h5 a {
    color: #666666;
}
.top-bar .page-statistics .cart-title h5 a:hover {
    color: #808080;
}
.top-bar .tb-language {
    margin-left: 10px;
}
.top-bar .tb-language a {
    color: #888;
}
.top-bar .tb-language a:hover {
    color: #666;
}














/*slider*/
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  /*border-radius: 15px;*/
}

.carousel-caption {
  /*background-color: rgba(0,0,0,.5);*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
 /* background-image: none;  */
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
  
}

.section-white {
  background-color: #fff;
  color: #555;
}



.date{ color:#CCC; font-size: 0.9em;}


#carousel-live .control >div { 
 /*   border-bottom: 1px solid #000;

 -webkit-box-shadow: 0px 1px 0px 0px rgba(89,89,89,1);
-moz-box-shadow: 0px 1px 0px 0px rgba(89,89,89,1);
box-shadow: 0px 1px 0px 0px rgba(89,89,89,1); */

}

#carousel-live .control{float:none}

#carousel-live .control  .left, #carousel-live .control  .right{ float:none !important; border-radius:50%;

border-radius: 50%;background: #BBB;border-color: #313131; color:#666;
}
#carousel-live .control  .left:hover, #carousel-live .control  .right:hover{background: #999}


#carousel-live #carousel-index-before{ display: inline-block; text-align: right; font-size: 14px;  color:#666; margin-right: 10px;}
#carousel-live #carousel-index{display: inline-block; text-align: center; margin: 0 10px; overflow: hidden;margin-bottom: -10px;height: 30px; /*color:#222*/}
#carousel-live #carousel-index-after{display: inline-block;text-align: left; font-size: 14px; color:#666; margin-left: 10px;}

#carousel-live #carousel-index a,#carousel-live #carousel-index-before a,#carousel-live #carousel-index-after a{text-decoration: none; color:inherit}

#carousel-live .head {padding:10px 10px; font-size: 18px; color:#CCC}
#carousel-live .controls .small{color:#656565}


#carousel-live .carousel-inner .item{min-height: 100px;  }
#carousel-live .carousel-indicators{ padding:  5px 20px 0 0; margin-bottom: -2px;}
 #carousel-live h4{margin-bottom: 0; color:#CCC}
 
  #carousel-live .carousel-inner .item>.row{ font-size: 12px;vertical-align: top;}

 #carousel-live .match_a { display: inline-table;vertical-align: top;}
 

 
  #carousel-live .match_a .option{ height:20px; display: block;}
 #carousel-live .match_a .option span.channel img{ height:20px; width:auto; margin: 0 5px; opacity:0.75} 

 
 #carousel-live.swip .carousel-inner {
   -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  /*padding: 20px; */
  height: 204px;  

}

  #carousel-live.swip:hover .carousel-inner { 
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  /*height: 330px;  */
  height:auto;
  }
  
  
  
 
 #carousel-live .carousel-inner .item{ color:white; margin: 10px; text-align: center; }

#carousel-live .match_a .col-md-5{ 

  color: #BBB;
max-height: 71px;
overflow: hidden;
min-height: 71px;


}
#carousel-live .match_a .col-md-2{ color:#6F6F6F}








 #carousel-live.swip .col-md-3:nth-child(5),#carousel-live.swip .col-md-3:nth-child(6),#carousel-live.swip .col-md-3:nth-child(7),#carousel-live.swip .col-md-3:nth-child(8),#carousel-live.swip .col-md-3:nth-child(9),#carousel-live.swip .col-md-3:nth-child(10){

      /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#carousel-live.swip:hover .col-md-3:nth-child(5),#carousel-live.swip:hover .col-md-3:nth-child(6),#carousel-live.swip:hover .col-md-3:nth-child(7),#carousel-live.swip:hover .col-md-3:nth-child(8),#carousel-live.swip:hover .col-md-3:nth-child(9),#carousel-live.swip:hover .col-md-3:nth-child(10){ 
         /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=1);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}



#carousel-live .match_a, #carousel-live .match_a .wrapflag{ -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background: #4D4D4D; color:black; display: block; padding:10px 5px; /*margin: 5px 5px 10px 5px;*/}
#carousel-live .match_a:hover a, #carousel-live .match_a:hover .wrapflag{  /*background: #8d8d8d;*/ }
 #carousel-live .match_a .flag{width: auto;margin-bottom: 5px;max-height: 32px;max-width: 32px;}


 
 /* Home Scorboard*/
   #carousel-live .match_fin{}
 #carousel-live .match_fin a,#carousel-live .match_end a{/*background-color: #444;*/}
 

 .fin,#carousel-live .match_fin  .status{color:#FFD400 !important}
.success,#carousel-live .match_success .status{color:#99ff00 !important}
.warning, #carousel-live .match_warning  .status{color: #ec971f !important}
 .danger, #carousel-live .match_danger  .status{color: #F00 !important}
 
 
 
.fin,#carousel-live .match_fin  a .col-md-2{color:#FFD400 !important}
.success,#carousel-live .match_success a .col-md-2{color:#6DB600 !important}
.warning, #carousel-live .match_warning a .col-md-2{color: #ec971f !important}
 .danger, #carousel-live .match_danger a .col-md-2{color: #d9534f !important}
 
 
#carousel-live .match_a .wrapflag .flag{width:auto; margin-bottom: 5px; max-height: 96px; max-width: 96px;} 

 #carousel-live .match_a .row div:nth-child(3){ /*color:#999*/}
 
  #carousel-live .match_a .status { color:#FFF; font-size: 1.4em; }

#carousel-live .match_a .chennel{}
#carousel-live .chennel  img{ padding: 5px; height: 32px;}
#carousel-live .match_a .score{ font-size: 50px; color:#FFD400}

td.channel img{height: 16px; margin-right: 5px;}

#carousel-live .match_a .extratime{  color:#999}
#carousel-live .match_a .paneltykick{color:#999 }


#carousel-live .match-statistic {padding: 10px; clear:both}
#carousel-live .match-statistic  table{ color:#000; background: #FFF;}


 /* Featured slider*/
#carousel-featured{}
 #carousel-featured img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#latest-news .news_block.active{margin-top: -2px;}
/*
#latest-news .news_block.active a:before{
   display: block; content:" "; width:calc(100% - 10px); height:8px; position: absolute; margin-top: -8px;  background:rgba(0,0,0,0.8); 

 }
 */
 #latest-news .news_block.active a:after{
   display: block; content:" "; width: 10px; height:10px; position: absolute; margin-top: -8px;  top:0; margin-left: -10px;
   border:8px solid #FFF; left:50%;
 border-color: #333 transparent transparent  transparent;
 }
 
 


#carousel-featured a:hover img, #carousel-featured a:focus img
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#carousel-featured .item a {width:100%; height: auto; display: block;}
 
#carousel-featured .carousel-caption{

position: absolute;
left: 0;
right: 50%;
bottom: 0;
top:0;
z-index: 10;
padding: 0 80px 10px 25px;
color: #fff;
text-align: left;

background: -moz-linear-gradient(left,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.43) 69%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.9)), color-stop(69%,rgba(0,0,0,0.43)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.43) 69%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.43) 69%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.43) 69%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.43) 69%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */



}

#carousel-featured .carousel-caption h2{ font-size: 3.2em;  font-family: psl_displayregular, Tahoma, sans-serif;  }




/* ------------------- Subnews ------------------- */
.subnews{margin-top: 10px;}
.subnews .news_block h3{ margin-top:5px;  font-size: 3em; line-height: 1em;  font-family: psl_displayregular, Tahoma, sans-serif; }
.subnews .news_block a{margin:0 0 10px 0; display:block}
.subnews .news_block  .media-object{width:100%; margin-bottom: 5px;}


.subnews  .date{ clear: both; display: block; text-decoration: none;}
 .subnews a{text-decoration: none;}
 .mega-dropdown-menu .subnews h2{ margin: 0;}

/* ------------------- Hotnews ------------------- */
.hotnews{padding:10px; background:#ebebeb; margin-bottom:10px}
.hotnews .media-object{ margin-right:10px; width:148px}
.hotnews i{ color:#999; }



/* ------------------- Harizontal List News ------------------- */
.list_harizontal{}
.list_harizontal .media a{color:#222}
.list_harizontal .media a p{ color:#999; font-size: 0.9em;  }
.list_harizontal .media-object{ margin-right:10px; width:50%}
.list_harizontal h3{margin: 0 0 10px 0; font-size: 1.2em; line-height: 1.2em;}


.subnews a, .hotnews a{color:#666}

/* ------------------- TOP 10 ------------------- */
.top10{ background:#1f4774; padding:10px; 
-webkit-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.4);
-moz-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.4);
box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.4);
-webkit-border-radius: 50px;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius: 50px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomright: 5px;
border-radius: 50px;
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;

}
.top10 h2{color:#ffcc00}
.top10 a{color:#B3A579}
.top10 .news_block{text-align:center}

.top10 .media-object{width:100%; margin-bottom: 5px; border: 1px solid #001C3C;}

.dropdown:hover .dropdown-menu {
    display: block;
 }
 
 
 


 a.match {color:#999}
 a.match  span{ /*font-weight:bold;*/ color:#2a6496}



.line{ border-bottom:1px solid #DDD; height:25px; margin-bottom:50px; /*border-radius: 0 0 0 200px;*/}


.top10 .line{height:0px;border:none;}

.line .more{position: absolute;right: 20px;top: 0px; color:#999}
.more{ padding:15px 18px; border-radius:50%; background:#FFF;
border:1px solid #eee;


-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);

}



/* ------------------- Row member ------------------- */
.member{padding:10px; background:#333;
/*-webkit-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.4);
-moz-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.4);
box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.4);   */
-webkit-border-radius: 5px;

-moz-border-radius: 5px;

border-radius: 5px;
border: 1px solid #325520;



}

.member h2{color:#FFF}

.member .table{background: white; font-size: 0.8em;}


.member table.angle-Left {}


 i[class^="red"]{
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
/*font-weight: 700; */
line-height: 1;
font-style: normal;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 10px;
}


i.red{ background-color: red;}   
i.red2{background-color: #ff7200;} 
 i.red3{ background-color: #ff9900;} 
  i.red4{ background-color: #7a9900;} 
   i.red5{ background-color: #339900 !important;} 






/* ------------------- Banner ------------------- */
.banner{ text-align:center;}
.banner>*{ margin:0 auto;}


.border-1{border:1px solid #CCC}
.aside .table_standing, .aside .table_match, .sidebar_margin{ margin:10px;}

.text_center{text-align: center;}
.text_left{text-align: left;}
.text_right{text-align: right;}

span.red{color:red}




/**/
/*PAGE result*/
.page-header { }
.page_head_bar{ margin-top: 20px; height: 40px; }
.page_head_bar .font-display{ font-size: 3em;}
.page-header.font-display{ font-size: 4em; line-height: 0.6em;}
.page-header a{color:#333}
.page-header a:hover{ text-decoration: none !important; }

.page-header-social{
 position: absolute;
top: 0px;
right: 0;

}

 .sidebar-social{ width: 230px; margin: 5px auto;}
 
 .sidebar-social .share_size_large  {width: 67px; margin-bottom: 5px;}

.col-md-3 .sidebar-social .share_size_large  {width: 54px; margin-bottom: 5px;}
.share_size_large > .share__count {
display: block;
float: none;
font-size: 14px;
margin-right: 0;
margin-bottom: 12px;
padding: 10px 0;
}                                                  


.share_type_email{display: none;}

.page-header.font-display.post {font-size: 3.6em;line-height: 0.9em;}
.navbar-default .navbar-brand{ color: black;}
.nav-bar-link{color: #FFF;  line-height: 50px; padding: 0 20px;}
.nav-bar-link .avartar{display: inline-block; float:left; height:50px; width: 50px; background-color: #333; margin-right: 5px;}


.page-header-option{position: relative; }
.page-header-option p{position: absolute; right: 0px; top:50px;}
.page-header-option .nav{ margin-top: 38px;}
.page-header-option .navbar-nav.navbar-right:last-child{ margin-right: 0;}
.page-header-option .nav>li>a,.page-header-option  .nav>li>a{color:#666; padding: 20px 20px ;}
.page-header-option .nav>li>a:hover,.page-header-option  .nav>li>a:focus{color:#999; background: none;}

.font-display i{font-size: 0.6em;}

.table_tr_head{ background: #F4F4F4;}
.table_tr_blank {height:50px}


.table-switch{margin: 30px  20px 0 0;}


/*leagues*/
.league{}
.league .league_logo{width:48px}
.league #carousel-live .carousel-inner{ height: auto;}

.league .scoreboard-x #carousel-live {padding:10px 0 0 0}


.league #carousel-featured .carousel-caption{width:40%}
.league #carousel-featured .carousel-caption h2{ font-size: 2.6em;}
.league #carousel-featured .carousel-caption p{ font-size: 0.9em;}


.scorer {}
.scorer table {}

.scorer table  .img-circle{ width:120px; /*padding: 0px; border:4px solid #6DB600*/
        -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

}
.scorer table  .img-circle:hover{ 

 -webkit-transform: scale(1.4); 
 -moz--transform: scale(1.4); 
 -o-transition-transform: scale(1.4);
  transform: scale(1.4);
 
   -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;


}


 .scorer table  td:nth-child(2){width:120px}
 .scorer table  td:nth-child(1) { font-size: 80px; color:#6DB600; line-height: 120px; text-align: center; width: 140px;}
 .scorer table  td:nth-child(4){ font-size: 60px;  color:#666; line-height: 120px; text-align: center;}
 
 
 
  .transfer {}
.transfer table {}

.transfer table  .img-circle{ width:120px; /*padding: 0px; border:4px solid #6DB600*/
        -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

}
.transfer table  .img-circle:hover{ 

 -webkit-transform: scale(1.4); 
 -moz--transform: scale(1.4); 
 -o-transition-transform: scale(1.4);
  transform: scale(1.4);
 
   -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;


}


  .transfer table  td:nth-child(1){ font-size: 16px; font-weight: bold; color:#666; vertical-align: middle;}
 .transfer table  td:nth-child(2) { font-size: 80px; color:#6DB600; line-height: 120px; text-align: center; width: 140px;}
  .transfer table  td:nth-child(3){width:160px}
  .transfer table  td:nth-child(4){ font-size: 60px;  color:#666; line-height: 120px;  width:120px;  text-align: center; }
 .transfer table  td:nth-child(5){ font-size: 20px;  color:#666; line-height: 120px;  width:300px}
 .transfer table  td:nth-child(6){ font-size: 60px;  color:#666; line-height: 80px;  text-align: center;}
 .transfer table  td .unit{ font-size: 20px;  color:#666; text-align: center; display: block; line-height: 24px;}
/*  .transfer table  td a .fa-info-circle{ font-size: 20px;  text-align: center; display: block; line-height: 24px; text-decoration: none;} */

  
  
 
 
 
 

/*premiere*/

 /* 
.premiere .table_standing .table tbody>tr:nth-child(1) td {background: #bbb;}
.premiere .table_standing .table tbody>tr:nth-child(2) td {background: #ccc;}
 .premiere .table_standing .table tbody>tr:nth-child(3) td {background: #ccc;}
  .premiere .table_standing .table tbody>tr:nth-child(4) td {background: #ccc;}
   .premiere .table_standing .table tbody>tr:nth-child(5) td {background: #ddd;}
   
    .premiere .table_standing .table tbody>tr:nth-child(18) td {background: #ddd;}
    .premiere .table_standing .table tbody>tr:nth-child(19) td {background: #ddd;}
    .premiere .table_standing .table tbody>tr:nth-child(20) td {background: #ddd;}
   */ 
    
    /*
 .premiere    .table_standing .table tbody>tr:nth-child(1) td {background: #f4cc52;}
 .premiere  .table_standing .table tbody>tr:nth-child(2) td {background: #edd58b;}
 .premiere  .table_standing .table tbody>tr:nth-child(3) td {background: #edd58b;}
 .premiere  .table_standing .table tbody>tr:nth-child(4) td {background: #edd58b;}
 .premiere  .table_standing .table tbody>tr:nth-child(5) td {background: #e6dbb9;}
 .premiere  .table_standing .table tbody>tr:nth-child(18) td {background: #ddd;}
 .premiere  .table_standing .table tbody>tr:nth-child(19) td {background: #ddd;}
.premiere  .table_standing .table tbody>tr:nth-child(20) td {background: #ddd;}     */
    

.premiere .table_standing .table.dark tbody>tr:nth-child(1) td {background: #777;}
.premiere .table_standing .table.dark tbody>tr:nth-child(2) td {background: #555;}
.premiere .table_standing .table.dark tbody>tr:nth-child(3) td {background: #555;}
.premiere .table_standing .table.dark tbody>tr:nth-child(4) td {background: #555;}
.premiere .table_standing .table.dark tbody>tr:nth-child(5) td {background: #383838;}
   
.premiere .table_standing .table.dark tbody>tr:nth-child(18) td {background: #444;}
.premiere .table_standing .table.dark tbody>tr:nth-child(19) td {background: #444;}
.premiere .table_standing .table.dark tbody>tr:nth-child(20) td {background: #444;}





 .premiere    .table_standing .table tbody>tr:nth-child(1) td {background: #f4cc52;}
 .premiere  .table_standing .table tbody>tr:nth-child(2) td {background: #edd58b;}
 .premiere  .table_standing .table tbody>tr:nth-child(3) td {background: #edd58b;}
 .premiere  .table_standing .table tbody>tr:nth-child(4) td {background: #edd58b;}
 .premiere  .table_standing .table tbody>tr:nth-child(5) td {background: #e6dbb9;}
 .premiere  .table_standing .table tbody>tr:nth-child(18) td {background: #ddd;}
 .premiere  .table_standing .table tbody>tr:nth-child(19) td {background: #ddd;}
.premiere  .table_standing .table tbody>tr:nth-child(20) td {background: #ddd;}
   
  
.thaileague .table_standing .table tbody > tr:nth-child(1) td {  background: #f4cc52;}
.thaileague .table_standing .table tbody > tr:nth-child(2) td {  background: #edd58b;}
.thaileague .table_standing .table tbody > tr:nth-child(3) td {  background: #edd58b;}
.thaileague .table_standing .table tbody > tr:nth-child(4) td {  background: #edd58b;}
.thaileague .table_standing .table tbody > tr:nth-child(5) td {  background: #e6dbb9;}
.thaileague .table_standing .table tbody > tr:nth-child(18) td {  background: #ddd;}
.thaileague .table_standing .table tbody > tr:nth-child(19) td {  background: #ddd;}
.thaileague .table_standing .table tbody > tr:nth-child(20) td {  background: #ddd;}    
    
    
    
    
    
   


  .league table { text-align: center; font-size: 0.9em;}
  .league table th { text-align: center; font-size: 1.2em;}

 .league table,.table_standing table{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;overflow: hidden;}
 
 .league .top_scorer table{ text-align: center;}
 

.league .table_standing  table th:nth-child(2),
.league .table_standing  table td:nth-child(2){ text-align: left;}
 table.gray.table-striped>thead>tr,  table.gray.table-striped>thead>tr{background: #333; color:#CCC}


.league .top_scorer table td,.league .top_scorer table th{ text-align: center;}
.league .top_scorer  table th:nth-child(2),
.league .top_scorer  table td:nth-child(2){ text-align: left;}


/* .league .table_standing  table th:nth-child(4),  .league .table_standing  table th:nth-child(5),  .league .table_standing  table th:nth-child(6), .league .table_standing  table th:nth-child(7), .league .table_standing  table th:nth-child(8)
 ,.league .table_standing  table td:nth-child(4),  .league .table_standing  table td:nth-child(5),  .league .table_standing  table td:nth-child(6), .league .table_standing  table td:nth-child(7), .league .table_standing  table td:nth-child(8){display: none;}  */


.league .match table tr:hover{ background-color: #f9f9f9;}
.league .banner{ bottom: 0px; background: #333; height: 373px; color:#444;  padding-top: 50px; border-top-right-radius:10px; border-bottom-right-radius:10px;}

.league.match .timeTo{ margin-top: 10px;}





/* TAble Dark*/
 table.dark{ background: #1B2D44; background: #222; color:#FFF}
 table.dark a{color:#FFF}
  .dark.table-striped>tbody>tr:nth-child(odd)>td,  table.dark.table-striped>tbody>tr:nth-child(odd)>th{   background:  #282828;}  
  .dark.table>thead>tr>th,  .dark.table>tbody>tr>th,  .dark.table>tfoot>tr>th,  .dark.table>thead>tr>td,  .dark.table>tbody>tr>td,  .dark.table>tfoot>tr>td{ border: 1px solid #111; }
  
  
  
  /* TAble Gray*/
table.gray{  background: #EEE; color:#000; }
 table.gray a{color:#000}
 


 
  .gray.table-striped>tbody>tr:nth-child(odd)>td,  table.gray.table-striped>tbody>tr:nth-child(odd)>th{  background:  #f4f4f4 ; }
  .gray.table.table-bordered>thead>tr>th,  .gray.table.table-bordered>tbody>tr>th,  .gray.table.table-bordered>tfoot>tr>th,  .gray.table.table-bordered>thead>tr>td,  .gray.table.table-bordered>tbody>tr>td,  .gray.table.table-bordered>tfoot>tr>td{ border: 1px solid #eee; }
   .gray.table>thead>tr>th,  .gray.table>tbody>tr>th,  .gray.table>tfoot>tr>th,  .gray.table>thead>tr>td,  .gray.table>tbody>tr>td,  .gray.table>tfoot>tr>td{ border: none !important; }
  
  
                                                                                           
 /**/ 
 .table_standing .table tbody>tr:nth-child(1) td {background: #f4cc52;}
/* .table_standing .table tbody>tr:nth-child(2) td {background: #edd58b;}
 .table_standing .table tbody>tr:nth-child(3) td {background: #edd58b;}
 .table_standing .table tbody>tr:nth-child(4) td {background: #edd58b;}
 .table_standing .table tbody>tr:nth-child(5) td {background: #e6dbb9;}
 .table_standing .table tbody>tr:nth-child(18) td {background: #ddd;}
 .table_standing .table tbody>tr:nth-child(19) td {background: #ddd;}
 .table_standing .table tbody>tr:nth-child(20) td {background: #ddd;}  */
    
    
   
 .table_standing .table.dark tbody>tr:nth-child(1) td {background: #777;}
 .table_standing .table.dark tbody>tr:nth-child(2) td {background: #555;}
 .table_standing .table.dark tbody>tr:nth-child(3) td {background: #555;}
 .table_standing .table.dark tbody>tr:nth-child(4) td {background: #555;}
 .table_standing .table.dark tbody>tr:nth-child(5) td {background: #383838;}
   
 .table_standing .table.dark tbody>tr:nth-child(18) td {background: #444;}
 .table_standing .table.dark tbody>tr:nth-child(19) td {background: #444;}
 .table_standing .table.dark tbody>tr:nth-child(20) td {background: #444;}    
    
/**/   
  
  
  
  
  
  
  
  
  
  
  
  
  
   
 /* .gray.table>thead>tr>th{border: 1px solid #444;}*/
 
 
 /* News*/
 
 .news .list_harizontal h3{ font-size: 1.4em; line-height: 1.4em; margin-bottom: 10px;}
  .news .list_harizontal .media a p { font-size: 1em; line-height: 1.4em; color:#666 }

 .news .date{margin-bottom: 10px; display: block;}
 
 .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{ background: #6DB600; border-color: #58A511;}
 
 
  .pagination{ display: inherit; text-align: center;}
 .pagination>li {
display: inline-table;
}

/*POST PAGE*/
.post span.date{ margin: -10px 0 20px 0;  display: block;}

.post p {
    text-indent: 2em;
    margin-bottom: 20px;
}




/*MAtch PAge*/
.match{}


.match #carousel-live .match_a,.match  #carousel-live .match_a .wrapflag {height: auto;}

.match.page-header.font-display{font-size: 0.8em;}

.match .video{}



.gallery .row{ position: relative;}
.gallery .row > div.pic{margin-bottom: 10px;
   
   -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
                                     

}

.yellow{ color:yellow}
 .scoreboard { -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; overflow: hidden; background: #333; display:block;}
 .match .scoreboard{ padding-bottom: 20px ; margin-bottom: 10px;}

.match .scoreboard .teamname{ font-size: 1.4em;color:#FFF; }
.match .scoreboard .footballer { margin-top: 10px; color:#AFAFAF; font-size: 0.8em;}
.match .scoreboard .card { margin-top: 10px; }
.match .scoreboard #carousel-live .match_a, #carousel-live .match_a .wrapflag{ background-color: #272727;}

 
 .scoreboard #carousel-live .match_a .col-md-4 a{padding: 0; margin: 0;}

 .match-statistic {} 
  .match-statistic table{ text-align: center; }
 .match-statistic table tbody{}
 .match-statistic  table thead tr{ background-color: #428bca; color:#FFF}
  .match-statistic  >div:nth-child(3) table thead tr{ background-color: #d9534f;}
  
  
 .match-statistic  table tbody tr td:nth-child(1), .match-statistic  table tbody tr td:nth-child(4){ white-space: nowrap;}
 
 .match-statistic  >div:nth-child(2) table{ background: #def;}
 .match-statistic  >div:nth-child(3) table{ background: #fed;}


 
 
    #carousel-live .match_a,   #carousel-live .match_a .wrapflag{ margin: 5px 0px 5px 0px; padding: 5px; height: 180px; color:#FFF}
     #carousel-live .match_a .option{ margin-bottom: 10px;}
     
     
     #carousel-live.top-league .match_a,   #carousel-live.top-league .match_a .wrapflag{ margin: 30px 0px 5px 0px;  }
      #carousel-live.top-league  .match_a .option .league-name{ position: absolute;top: -30px;left: 0; color:#999; font-size: 16px;}
     
     
       #carousel-live .match_a .flag{ max-height: 60px; max-width: 60px;  }

 .scoreboard-x{ -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; overflow: hidden; background: #333; display:block; padding: 10px;} 
 .scoreboard-x .nav-tabs { margin-right: 5px; border: none;}
 .scoreboard-x .nav-tabs >li{ float:right;}
 .scoreboard-x .nav-tabs>li>a{color:#999}
  .scoreboard-x .nav-tabs>li>a:hover {border-color: #272727 #272727 #444;  background-color: #272727; border-bottom: none;}
 .scoreboard-x .head{ color:white ; font-size: 18px; color: #CCC;}
 .scoreboard-x .view-mode{ display: inline-block; margin-left: 30px;}
   .scoreboard-x .match_a{ text-align: center;}
   
 .scoreboard-x .nav-tabs>li.active>a, .scoreboard-x .nav-tabs>li.active>a:hover, .scoreboard-x .nav-tabs>li.active>a:focus {background-color: #202020;border: 1px solid #444; border-bottom: none;}
   
 .scoreboard-x .no-match{text-align: center; line-height: 150px; color:#444; font-size: 2em; height:150px;  }   
  .scoreboard-x #carousel-live{  font-size: 0.8em; padding: 10px; }

   .scoreboard-x #carousel-live .match_fin a,  .scoreboard-x #carousel-live .match_end a{/* background: #222;*/}
    
   .handicap-text{color:#000} 
   .extra-text{padding: 5px;}
 .live{ padding:0 5px 0 1px; display: inline-block; background: #F00; font-style: italic; position: relative; margin-left: 5px; line-height: 15px; height: 15px;  color:white; font-size: 12px; width:30px} 
 .live:after {
  content: "";
top: 0;
right: -3px;
position: absolute;
display: block;
border-style: solid;
border-color: #f00 transparent transparent transparent;
border-width: 15px 3px 0 0;
z-index: -1;  
      
  } 
  
 .live:before {
content: "";
top: 0;
left: -3px;
position: absolute;
display: block;
border-style: solid;
border-color:  transparent transparent #f00 transparent;
border-width: 0 0 15px 3px ;
z-index: -1;  
      
  } 
  
  
   
    
    .hilight-color{ background: rgba(255,255,255,0.1); padding:5px 0 5px 0;}
   
   .scoreboard-x  #carousel-live .match_a .col-md-5{ min-height: 56px; max-height: 56px;}
 .teamname{ color:#FFF}
 .index-topscore  .teamname{color: #428bca;}
 .scoreboard-x .tab-content{   margin-left: -10px;
margin-right: -10px;
margin-bottom: -10px; background: #202020;}
 
 
 
 
 
 .scoreboard-x .tab-content table{ /*background:rgba(255,255,255,.9);*/ margin-bottom: 0; color:#CCC} 
 .scoreboard-x .tab-content table h4{margin-bottom: 0; font-size: 14px;}
 .scoreboard-x .tab-content table a,.scoreboard-x .tab-content table  a.match span{ color:#CCC } 
 
 .scoreboard-x .tab-content table td[colspan*="7"] { background: #111;}
 
 
  .scoreboard-x .table>thead>tr>th, .scoreboard-x .table>tbody>tr>th, .scoreboard-x .table>tfoot>tr>th, 
  .scoreboard-x .table>thead>tr>td, .scoreboard-x .table>tbody>tr>td, .scoreboard-x .table>tfoot>tr>td { border-top: 1px solid #444; }
 
 #filters{ padding: 5px;}
.js-radio-button-group{ padding: 0 5px 0 0;}

#filters  .btn{ background: #666; padding: 0 5px; margin: 5px;}
#filters  .active{ background: #CCC;}

#filters  .active:before {
    display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: "\f00c";
}
.leauge-table table tr{ 
 
/* 
max-height: 2000px;   
opacity: 1;    
    
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s; 
max-height: 2000px;   */

/*
-webkit-animation: showKey 0.5s linear;
    animation: showKey 0.5s linear;   */
 
}

.leauge-table table tr.hide-e{ 
    
 /*   
line-height: 0;
max-height: 0;  
opacity: 0;

-webkit-animation: hideKey 0.5s linear;
    animation: hideKey 0.5s linear;    */
  
}   
 
 
 /* Chrome, Safari, Opera */ 
@-webkit-keyframes hideKey {
    
     0%   { opacity: 0; }
  50%   { opacity: 1; }
   100% {   opacity: 0;  }
}
@keyframes hideKey {
  0%   { opacity: 1; }
   100% {  opacity: 0; }
} 


@-webkit-keyframes showKey {
     0%   { opacity: 1; }
  50%   { opacity: 0; }
   100% {   opacity: 1;  }
}
@keyframes showKey {
  0%   { opacity: 0; }
   100% {  opacity: 1; }
} 
 
 
 
 
 
 
 
 
 
 

.gallery > .row div.pic img{width:100%}

/*.gallery .row.animated  div.pic img{ width:auto; margin: auto; max-width: 100%; }  */

/*
.gallery:hover .row > div{width:100%;

      -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;

}  
   */
   

.gallery .row.animated > div{
     
    width:100%;
       
          
      
      -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    
}  

.gallery > .row.animated div.pic img{ width: auto; margin: 0 auto; }


.gallery .row>span{background: rgba(0,0,0,0); position: absolute; left:5px; top:0px; bottom:10px; right:5px; display: block; z-index: 9;

         -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

}
.gallery:hover .row>span{ background: rgba(0,0,0,0.6); }


.gallery .row.animated >span, .gallery .row.animated .Buttons {display: none;}

.excluesive{ margin-top: 20px;}






/*PAge Analze*/
.analyze .date,.analyze .channel{ margin-bottom: 10px; display: block; font-size: 1.1em;}
.analyze .date, .analyze .channel img{max-height: 20px;}





/* Page TEAM*/


.team .side    { position: relative;}
.team .team-side{ background: #111; 
     
     width:300px;
    top:0px;
 -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

}

 .team .team-side.affix{ top:90px;
 
 -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
 
 }  
  .team .team-side .list-group:before, .team .team-side .list-group:after {
        content:"";
        bottom:-2em;
        position:absolute;
        display:block;
        border-style:solid;
        border-color: #111 transparent transparent transparent;
        z-index:-1;
    }
    
.team .team-side .list-group:before {
      
       right: 0;
      border-width: 2em 0 0 125px;
    }
.team .team-side .list-group:after {
      left: 0;
      border-width: 2em 125px 0 0;
    }     
        
        


 .team .team-side .profile {
   /* background-color: #FF766C;
    border: 1px solid #ff766c;   */
   border-bottom: 1px solid #111;
   padding-top: 30px;
   background: #222;

}

.team .profile img {
    display: block;
    /*border: 10px solid rgba(255, 255, 255, 0.3);*/
    margin: 0 auto;
    
    margin-bottom: 10px;
    width:75%;
}
.team .profile p {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    padding: 10px;
}


.team .side .list-group{ margin-bottom: 0; padding-bottom: 10px; position: relative;}

 .list-group-item {
    background-color: #111;
    border-radius: 0px !important;
    border: none;
    padding: 0 !important;
}

.team .list-group-item.active  , .team .list-group-item:hover{
    color: #FFF;
    border-left: 3px solid #222;

    background-color: #000;    
  
    
}

.team .list-group-item a{ display: block; width:100%; color: #999; padding: 10px 25px; line-height: 40px; /* transition:all 0.5s; -webkit-transition: all 0.5s;*/ font-size: 2em; font-family: psl_displayregular, Tahoma, sans-serif;}
.team .list-group-item a:hover{ display: block; width:100%; color: #FFF; text-decoration: none; }



.team .list-group-item:hover a{ transition:all 0.2s; -webkit-transition: all 0.2s; }


.team .list-group-item:hover a:before{
    display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*padding:0 10px 0 0;    
  content: "\f0da";    */

    }


  .team-social { margin: 10px auto; width:270px}
  
  
  .team-social   .share_size_large{ margin-right: 5px;}

   .team-social div:last-child{ margin-right: 0;}


 .team .team-last-score a, .team .team-last-score .wrapflag{
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #222;
color: white;
display: block;
padding: 20px 10px;
margin:10px;
text-align: center;      text-decoration: none;
}


.team .team-last-score a:hover{background: #111;}







/*.sitemap-football { margin: 20px 0 20px 0;}  */
.sitemap-football  a{color:#2f6179}
.sitemap-football  a:hover{color:#e27000}
.sitemap-football >div{ display: inline-block; width:100%;}
.sitemap-football >div>ul{    
    display: inline-block;
    height: auto;
    margin: 0 1% 0 0;
    padding: 10px 0;
    position: relative;
    vertical-align: top;
    float:left;
}

.list-cat>ul{  width:23.5%; }
.list-charector ul{  width:18.5%; }

.sitemap-football >div>ul>li>h2{
    font-size: 32px;
    font-weight: normal;
    font-family: psl_displayregular,Tahoma,sans-serif;
    
}

.sitemap-football >div>ul>li h3{
    font-size: 18px;
    font-weight: normal;
}

.sitemap-football >div>ul>li>h2 i{font-size: 16px;}

.sitemap-football >div.list-cat>ul>li:not(:first-child){ margin-left: 22px; list-style: disc;}

.head-cat{
    font-weight: normal;
    font-family: psl_displayregular,Tahoma,sans-serif;
    font-size: 42px;
    color: #666;
    line-height: 40px;
    position: relative;
    display: inline-block;
      
}

.head-cat i{ font-size: 0.55em;}



.footer .sitemap .left{ list-style: none;}

/*
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}*/







.game{}

.football-game-logo{ background: url(../img/football-game-logo.png); width:464px; height: 120px; display: block; text-indent: -9999px;}
.moo{ background: url(../img/moo-football.png) center center no-repeat scroll; width:340px; height: 261px; display: block; position: absolute; bottom:-80px; right:0px; z-index: 9;}

#myGameTabContent .mini_point{background: #f0ad4e !important;}


.modal-body-game{ text-align: center;}

.modal-body-game  .flag,.modal-body-game  .flag-no-effect {border-radius:5px; width:116px; margin: 0 auto; padding: 10px;  position: relative;}

.modal-body-game  .flag:hover{background: #f4f4f4; }

.modal-body-game .btn-radio.active .flag{background: #f4f4f4;}
.modal-body-game .btn-radio.active .flag:after{ position: absolute; content:"\f058"; font:normal normal normal 32px/1 FontAwesome; color:#6DB600; top: -10px;right: -10px;}

.modal-body-game  .flag img,.modal-body-game  .flag-no-effect img {
width: 100%;
margin-bottom: 5px;
}


/**------------------------short-ranking-------------------------*/

table.short-ranking tbody tr td{line-height: 40px; padding: 4px;}
table.short-ranking tbody tr td:nth-child(1){ width:20px; font-size: 1.2em; font-weight: bold; text-align: center;}
table.short-ranking tbody tr td:nth-child(2){ width:60px}
table.short-ranking tbody tr:nth-child(4){background: #FFF9E5;}


table.short-ranking .game-user-avartar{width:40px; height: 40px;}
table.short-ranking tbody tr:nth-child(1) .game-user-avartar{width:50px; height: 50px;}

.modal-body-game .score {
font-size: 50px;
color: #F39200;
}
.modal-body-game .btn-radio{ cursor: pointer; }
.modal-body-game .btn-radio:hover{  }
.modal-body-game .btn-radio.active{}
.modal-body-game .btn-radio.active img.flag{}

.modal-footer .game-match-option {width: calc(100% - 140px); float: left;}
.modal-footer .game-match-option .balance{ width: 100px;}
.modal-footer .game-match-option .select-point{width: 140px;}
.modal-footer .game-match-option .select-group {width: 120px;}

.step-group{}
.step-group .step-group-card{  padding: 20px; background: #EFEFEF; margin-bottom: 20px; border-radius:5px ; }
 .step-group .card-head{
margin-bottom: 15px;

}

.step-group .card-head.active{
     
 height: 36px;
width: 160px;
border-radius: 36px;
background: #494949;
line-height: 36px;
font-size: 32px; padding-right: 20px;
 }
 


.step-group-card .point  { float:right; color: #f0ad4e; display: none;}
.step-group-card .active .point  { float:right; color: #f0ad4e; display: inherit;}

.step-group .number{ 
display: inline-block;
height: 36px;
width: 36px;
border-radius: 50%;
background: #FFF;
text-align: center;
line-height: 36px;
font-size: 32px;
}

.step-group select{

height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;}
.step-group-card  .check-gray { color:#ccc }
.step-group-card  .check-green { color:#6DB600  }

.step-group .add-card{ height: 247px;display: block; position: relative; }

.step-group .add-card .btn{  position: absolute; top :50%; left:50%; margin-left: -39px; margin-top: -17px;}


 .user-dashboard{ padding-top: 10px;}
.trophy{ padding: 10px;background: #FFF5C2;border-radius: 5px;}
 .table-user-information{}
.game-user-avartar{
margin: 0 auto;
display: block;
}

.game-head-sep{ display: block; position: relative; /*background: #333;*/ border-bottom: 6px solid #6DB600; margin-bottom: 10px;}
.game-head-sep .btn-link{ float:right; position: absolute; bottom:10px; right: 0;}
 .game-logo{ position: relative; display: inline-block; width:300px; height: 70px;  background: url(../img/game-football-logo.svg) no-repeat center top;}
  .game-logo-season{ color: #999; position: absolute; top:16px; right: 0; font-weight: bold;}
  .mobile-menu .game-logo{width:180px; height: 40px; background: url(../img/game-football-logo-white.svg) no-repeat center top;}

.user-cover{}
.user-cover .pull-right{ position: relative;}
.user-cover .options{ position: absolute; bottom:10px; /*right:10px; */display: none;width: 100%; text-align: center;}
.user-cover .pull-right:hover .options { display: block;}

.trophy .season{margin-bottom: 20px;}
.trophy .season .head { color:#666; font-size: 16px; }
.hall-of-frame{ color:#AC8200; margin-top: 0;}

.user-dashboard .game-user-avartar{ height: 200px; width:200px; margin-top: -100px; border: 4px solid #FFF; position: relative; }

.user-dashboard .game-user-avartar .options{ position: absolute; bottom:10px; /*right:10px; */display: none;width: 100%; text-align: center;}
.user-dashboard .game-user-avartar:hover .options { display: block;}


 .game-user-avartar+h3:first-letter,  .game-user-avartar+a:first-letter, .ranking table td:nth-child(3) a:first-letter {text-transform: uppercase;}
 
.ranking  .game-user-avartar{ height: 60px; width:60px; }
 
 
  .table-user-information b{ font-size: 16px;}
   .table-user-information .btn-info{opacity: 0;}
    .table-user-information td:hover>.btn-info{opacity: 1;}
    
    .daily-sumary { font-size: 30px; text-align: center; padding: 20px; border-radius:10px; background: #F8F8F8; margin-top: 20px; color:#999}
    
    
  
.ranking {}
.ranking table {}

.ranking table  .img-circle{ width/*padding: 0px; border:4px solid #6DB600*/
        -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

}
.ranking table  .img-circle:hover{ 

 -webkit-transform: scale(1.4); 
 -moz--transform: scale(1.4); 
 -o-transition-transform: scale(1.4);
  transform: scale(1.4);
 
   -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;


}

  .ranking table h2{ margin: 0;}
  
   .ranking table tbody td{text-align: center; vertical-align: middle; font-size: 16px;}
  .ranking table  td:nth-child(1){ font-size: 24px; font-weight: bold; color:#666; vertical-align: middle;}
 .ranking table  td:nth-child(2) { font-size: 80px; color:#6DB600; line-height: 40px; text-align: center; width: 80px;}
 .ranking table  td:nth-child(3){ text-align: left; }
 /* .ranking table  td:nth-child(4){width:160px; text-align: center;font-size: 1.4em; line-height: 80px;}*/
   .ranking table  td.score,  .ranking table  td:nth-child(8){width:160px; text-align: center;font-size: 2em; }
  
  #rankTable_wrapper .row:first-child{ padding: 10px 10px 0 10px}
  
/*  .ranking table  td:nth-child(5){ font-size: 30px;  color:#666; width:auto;  text-align: center; }
 .ranking table  td:nth-child(6){ font-size: 20px;  color:#666;   width:300px}
 .ranking table  td:nth-child(7){ font-size: 60px;  color:#666;   text-align: center;}
                                                                                                                           */
 
 
 .ranking table  td .unit{ font-size: 13px;  color:#666; text-align: center; display: block; line-height: 24px;}
/*  .transfer table  td a .fa-info-circle{ font-size: 20px;  text-align: center; display: block; line-height: 24px; text-decoration: none;} */



/* Rank Badges*/
.rank-badges{ color:#CE9800 !important;  line-height: 25px !important; font-size: 1.8em; padding-bottom: 0 !important; font-family: psl_displayregular; display: inline-block; vertical-align: inherit;}
.rank-badges-angle{ background: url(../img/rank-badges/angle.svg); background-size:cover;  display: inline-block; width:50px; height: 25px;}
/*.rank-badges-angle:after{ content: "เทพวางบอล";position: absolute;left: 110px; color:#999; line-height: 25px;}  */


.rank-badges-pro{ background: url(../img/rank-badges/pro.svg); background-size:cover;  display: inline-block; width:25px; height: 25px;}
/*.rank-badges-pro:after{ content: "เทพวางบอล";position: absolute;left: 110px; color:#999; line-height: 25px;}    */

.rank-badges-wonder-kid{ background: url(../img/rank-badges/wonder-kid.svg); background-size:cover;  display: inline-block; width:42px; height: 25px;}

.rank-badges-rookie{ background: url(../img/rank-badges/rookie.svg); background-size:cover;  display: inline-block; width:28px; height: 20px;}

/*Large*/
.rank-badges-angle.large{ background: url(../img/rank-badges/angle.svg); background-size:cover;  display: inline-block; width:100px; height: 50px;}
/*.rank-badges-angle.large:after{position: absolute;left: 170px;line-height: 50px;font-size: 2em;}*/


.landing-page{}

.landing-page .landing-header {
    position: relative;
    
    margin-top: -10px;
    color:#FFF;
    

   /* background: #6DB600 url(../img/Landing-Game_cover.jpg) no-repeat center top fixed; )  */
    
     background: #6DB600 url(../img/Landing-Game_cover.jpg) no-repeat center top ; )
    

    
    
    /* background: url(../img/Landing-Game_cover.jpg) 50% -195px no-repeat fixed;*/
     
     
             -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    
}




/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    /*text-shadow: 0 0 10px #000;*/
    color: #fff;
}

.img-center {
    margin: 0 auto;
}



/*Toggle Sidebar*/
.mobile-menu {
/* background: #222222; */
margin: 0px;
padding: 30px 0px 30px 0px;
width: 280px;
text-transform: none;
font-size: 12px;
position: fixed;
top: 0px;
bottom: 0px;
right: -280px;
z-index: 100;
display: block;
bottom: 0px;
color: #ffffff;
background: #333;
-webkit-box-shadow: inset -5px 0px 20px 0px rgba(0, 0, 0, 0.5);
box-shadow: inset -5px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.mobile-menu .user-info{ border-bottom:1px dashed #555; margin-bottom: 10px; padding-bottom: 10px;}
.mobile-menu .user-info .score{ float: right; font-size: 24px; color: #f0ad4e;}
.mobile-menu .user-info .name{ font-size: 20px; color:#FFF;  text-decoration: none;}
.mobile-menu .user-info .name:hover{ color: #6DB600;}

.mobile-menu  h3 a{ color:#FFF}
.mobile-menu h3 a:hover{ color: #6DB600; text-decoration: none;}

.sidebar-notice{ padding: 10px; border: 1px dashed #666; border-radius:5px; color:#333; background: #f0ad4e; clear:both; margin-top: 10px;}


/*.mobile-menu .sidebar_collap {
    cursor: pointer;
padding: 5px 10px;
position: absolute;
left: -55px;
top:20px;

text-decoration: none;
color: #CCC;
margin: 0 10px 10px;
background: #333;
border: 1px solid #FFF;
-moz-border-radius: 50%;
-webkit-border-radius:  50%;
border-radius: 50%;
font-size: 14px;
height: 50px;
width: 50px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}   */


.mobile-menu .sidebar_collap {
    cursor: pointer;
padding: 0 0 0 20px;
position: absolute;
left: -50px;
top:50%;
text-decoration: none;
color: #CCC;
background: #333;
/*border: 1px solid #FFF; */
-moz-border-radius: 50% 0 0 50%;
-webkit-border-radius:  50% 0 0 50%;
border-radius: 50% 0 0 50%;
font-size: 14px;
height: 100px;
width: 100px;

/* box-shadow */
 -webkit-box-shadow: rgba(0,0,0,0.1) -4px 5px 4px;
 -moz-box-shadow: rgba(0,0,0,0.1) -4px 5px 4px;
 box-shadow: rgba(0,0,0,0.1) -4px 5px 4px;

}

.sidebar_collap .fa {
    
    font-size: 40px;
line-height: 100px;
    
}


.sidebar_collap:hover .fa{color:#999}

.mobile-menu.active .sidebar_collap .fa{
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}


.mobile-menu #carousel-live .tab-content{padding: 10px; background: #FFF; color:#333}

.mobile-menu  #carousel-live .match_a{ text-align: center; height: auto !important; margin-top: 20px; position: relative; overflow: visible; clear:both; content:" "; display: block;}

 .mobile-menu  #carousel-live .match_a.blink  .flag:hover{ cursor: pointer;}

.mobile-menu  #carousel-live .match_a .remove:after {
    font: normal normal normal 16px/1.2 FontAwesome;
    background: #FFF;
    border-radius:50%;
    width:20px;height: 20px;
position: absolute;
content: "\f00d";

color: red;
top: -12px;
right: 0px;
}
.mobile-menu  #carousel-live .match_a .remove:hover,.mobile-menu  #carousel-live .match_a .remove:hover:after{cursor: pointer;}

 .mobile-menu  #carousel-live .match_a .active:after ,  .mobile-menu  #carousel-live .match_a.blink .col-md-12+.row div:nth-child(1):hover:after,  .mobile-menu  #carousel-live .match_a.blink .col-md-12+.row div:nth-child(3):hover:after {
     
      font: normal normal normal 31px/1 FontAwesome;
    background: #FFF;
    border-radius:50%;
    width:30px;height: 30px;
position: absolute;
content: "\f058";
color: #6DB600;
top: 10px;
right: 0px;
cursor: pointer;
}


 .mobile-menu  #carousel-live .match_a .active:nth-child(3):after, .mobile-menu  #carousel-live .match_a.blink .col-md-12+.row div:nth-child(3):hover:after {
left: 0px;
cursor: pointer;
}


 .mobile-menu  #carousel-live .match_a.blink .col-md-12+.row div:nth-child(1):hover:after  ,.mobile-menu  #carousel-live .match_a.blink .col-md-12+.row div:nth-child(3):hover:after {
    background: #6DB600; color: #FFF;
 }





  .mobile-menu .card-head {
height: 36px;
border-radius: 36px;
background: #494949;
line-height: 36px;
font-size: 18px;
padding-right: 20px;
}

 .mobile-menu .card-head  .number {
    color:#3071a9;
display: inline-block;
height: 36px;
border-radius: 36px;
background: #FFF;
text-align: center;
line-height: 36px;
padding: 0 20px; 

}
 .mobile-menu .card-head  .number .small{}

 .mobile-menu .card-head .point  {
    
float: right;
color: #f0ad4e;
display: inherit;
    
}

.mobile-menu #carousel-live .match_a.editing { background: #6D5C42;}



@keyframes blink {  
        0% {  }
    50% {  background: #6D5C42; }
    100% {    }
}
@-webkit-keyframes blink {
    0% {  }
    50% {  background: #6D5C42; }
    100% {   }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
} 









.mobile-menu #carousel-live .match_a .flag {
max-height: 48px !important;
max-width: 48px !important;
}

.mobile-menu .point-select{margin-top: 10px;}

.mobile-menu .content{ height: calc(100% - 70px); overflow: hidden-y; }

/*.link-play-game{ color:#CCC;  }
.link-play-game.single{ color:#428bca; }
.link-play-game.multiple{ color:#449d44; }*/
.link-play-game{ font-weight: normal; font-size: 11px; background-color: #777;}
.link-play-game:hover{background: inherit !importnat; cursor:pointer;}
.link-play-game.single{ }
.link-play-game.multiple{  }




.useful-modal{}
.useful-modal .carousel.slide{}

.useful-modal .carousel.slide .carousel-control.left{ background: none;}




.index-topscore {}
.index-topscore .game-user-avartar{ width: 100px; height:100px;  }
.index-topscore .statistic{  font-size: 16px;border-radius: 3px;background: #FFF;padding: 5px 10px;margin: 5px 0px 5px 0px; }
.index-topscore .rank{font-weight: bold;}
.index-topscore .point{ font-size: 1.6em; font-weight: bold; color: #75B528;}

.index-topscore .table.short-ranking tbody tr td:nth-child(5){color: #75B528; font-weight: bold; font-size: 1.2em;}
.index-topscore .hilight{padding: 5px; background: #F4F4F4; border-radius:5px; position: relative;}
.index-topscore .hilight .position{ position: absolute; font-size: 24px; line-height: 26px; font-weight: bold; top:10px; left:10px;  display: block; border-radius:50%; background: orange; width:26px; height: 26px; text-align: center;}
.top-selected-match a{margin-bottom: 10px; display: block; clear: both; padding: 10px; border-radius:5px ;}
.top-selected-match a:hover{background: #EFEFEF;}





/* Button Extended*/
.kp-theme{}
.kp-theme .btn-success {  background-color: #6db600;}
.kp-theme .btn-success:hover{ background-color: #689C1B;}


#comment [class*="reply"] .quote a.user img {
border-radius: 50%;
}

